<%= form_for @micropost do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: t("shared._micropost_form.placeholder") %>
  </div>
  <%= f.submit t("shared._micropost_form.post"), class: "btn btn-primary" %>
  <div class="image" style="margin-top: 20px;">
    <%= f.file_field :image, accept: Settings.micropost.accept_image %>
  </div>
<% end %>
